.pos-container-container {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  user-select: none;
  width: 45px;
  justify-content: center;
}

.pos-container {
  font-size: 0.6rem;
  font-weight: bold;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #5cb1d6;
  white-space: nowrap;
}

/* Use pseudo elements to avoid firing mutation observers by just moving the cursor */
.pos-container > span::after {
  content: attr(data-content);
}

.sa-mouse-pos-small .pos-container-container {
  display: none !important;
}
